html {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cuprum', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
}

.button {
    display: block;
    color: #fff;
    border: none;
    padding: 7px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    outline: none;
    height: 42px;
    background-color: rgba(255, 255, 255, 0);
}

.red {
    background-color: #ee3643;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 1px;
}

.red:hover,
.red:focus {
    background-color: #ca2c37;
}

.red:active {
    background-color: #ba2732;
}

.transparent {
    background-color: rgba(255, 255, 255, 0);
}

ul {
    list-style-type: none;
}

.header-body {
    background-color: #f3f6f8;
    margin-bottom: 39px;
}

.row-top {
    background-color: #32425c;
    margin: 0;
    padding: 0;
    height: 42px;
}

.wrapper {
    min-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.user-menu {
    display: flex;
}

.main-page-btn {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #ee3643;
    padding: 7px 55px;
}

.main-page-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #b52933;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.btn-search {
    position: absolute;
    width: 40px;
    height: 100%;
    padding: 12px 18px;
    left: 0;
    opacity: 0.3;
    transition: 0.4s;
}

.search-field {
    border: none;
    font-size: 17px;
    background: #32425c;
    color: #fff;
    padding-left: 45px;
    width: 274px;
}

.search-field::placeholder {
    color: #fff;
}

.search:hover .btn-search {
    opacity: 1;
}

.search-field:focus::placeholder {
    color: #000;
}

.search-field:hover {
    background: #212a3a;
}

.search-field:focus {
    background: #fff;
    color: #000;
}


.search-field:focus + button path {
    fill: #ff0000;
}

.tabs,
.bag {
    position: relative;
    padding-left: 45px;
}

.tabs:hover,
.tabs:focus,
.bag:hover,
.bag:focus {
    background-color: #212a3a;
}

.tabs:active,
.bag:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.3);
}

.tabs {
    margin-left: auto;
}

.tabs::before,
.bag::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    left: 15px;
    top: 13px;
    opacity: 0.3;
}

.tabs::before {
background: url('../img/icon-bookmark.svg') no-repeat center;
}

.bag::before {
background: url('../img/cart-icon.svg') no-repeat center;
}

.tabs:hover::before,
.tabs:focus::before,
.bag:hover::before,
.bag:focus::before {
    opacity: 1;
}

.tabs:active::before,
.bag:active::before {
    opacity: 0.3;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #5fbb2d;
    color: rgba(255, 255, 255, 0.3);
}

/*---------- ROW-BOTTOM -----------------*/

.row-bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 49px 10px;
    font-size: 21px;
    padding-bottom: 0px;
}

.row-bottom p {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;
    max-width: 203px;
    color: #ee3643;
    margin: 0;
    margin-left: 52px;
    margin-right: 65px;
}

.contact-info {
    margin-top: -6px;
    margin-bottom: 30px;
    width: 280px;
}

.contact-info p {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.contact-info p:first-child {
    position: relative;
    min-width: 100%;
    color: #ee3643;
    font-size: 21px;
    font-style: normal;
    padding: 13px 35px;
    padding-left: 45px;
    border: 2px solid #fff;
}

.contact-info p:nth-child(1)::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 19px;
    left: 15px;
    top: 15px;
    background: url('../img/icon-phone.svg') no-repeat center;
}

.contact-info p:nth-child(2) {
    position: relative;
    min-width: 100%;
    font-style: normal;
    color: #32425a;
    padding: 5px 0;
    font-size: 14px;
}

.user-access {
    display: flex;
    margin-left: auto;
}

.user-access a {
    text-decoration: none;
    font-size: 21px;
}

.white {
    background-color: #fff;
    color: #000;
    line-height: 30px;
}

.enter {
    position: relative;
    margin-right: 10px;
    padding-left: 45px;
}

.enter::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 10px;
    top: 11px;
    opacity: 0.3;
    background: url('../img/icon-login.svg') no-repeat center;
}

.enter:hover::before,
.enter:focus::before {
    opacity: 1;
}

.enter:hover,
.enter:focus,
.registration:hover,
.registration:focus {
    color: #ee3643;
}

.enter:active::before {
    opacity: 0.3;
}

.enter:active,
.registration:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    height: 60px;
    width: 100%;
    margin-bottom: 61px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.navigation-list {
    display: flex;
    justify-content:space-between;
}

.navigation-list li {
    flex-grow: 1;
}

.menu-btn {
    background-color: #32425c;
    color: #fff;
    text-decoration: none;
    height: 60px;
    line-height: 45px;
    border-bottom: 5px solid #293449;
    transition: 0.2s;
}

.menu-btn:hover,
.menu-btn:focus {
    background-color: #293449;
}

.menu-btn:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
        
}

/*--------------- MAIN ---------------*/

.catalogs {
    margin-bottom: 25px;
}

.catalogs-services {
    margin: 0;
    padding: 0;
}

.cat-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 123px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 22px;
    background-color: #2a2525;
}

.cat-button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    height: 38px;
    padding-top: 12px;
    border-radius: 3px;
    margin: auto 115px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.cat-button:hover,
.cat-button:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.cat-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    position: relative;
    width: 620px;
    height: 267px;
}

.slide {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 22px 25px;
}

.active-slide {
    display: flex;
}

.slide p {
    margin: 0;
}

.slide .button {
    margin-top: auto;
    width: 195px;
}

.slide p:nth-child(1){
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slide p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
}

.pic-1 {
    background: url('../img/slider1.jpg') no-repeat center;
}

.pic-2 {
    background: url('../img/slider2.jpg') no-repeat center;
}

.switch-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50px; 
}

#left polygon,
#right polygon {
    fill: rgba(255, 255, 255, 0.45);
    transition: 0.4s;
}

#left:hover polygon,
#left:focus polygon,
#right:hover polygon,
#right:focus polygon {
    fill: #ffffff;
}

#left:active polygon,
#right:active polygon {
    fill: rgba(0, 0, 0, 0.45);
    transition: 0.1s;
}

.cat-item:nth-child(1){
    float: left;
    margin-right: 20px;
    background-color: #ffbf47;
}

.cat-item:nth-child(2){
    float: left;
    background-color: #3bbce3;
}

.cat-item:nth-child(3){
    float: right;
    background-color: #dc91d8;
}

.cat-item:nth-child(4){
    float: left;
    padding: 0;
    background-color: rgba(92, 71, 34, 0);
}

.cat-item:nth-child(5){
    float: right;
    background-color: #8ed78f;
}

.cat-item:nth-child(6){
    float: right;
    background-color: #ffc047;
}

.new-flag {
    position: relative;
}

.new-flag::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 59px;
    right: 0px;
    top: 0px;
    z-index: 1;
    background: url('../img/new%20flag.png') no-repeat center;
}

.ico-1::after,
.ico-2::after,
.ico-3::after,
.ico-4::after,
.ico-5::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    top: 23px;
}

.ico-1::after {
    right: 25px;
    background: url('../img/icon-1.svg') no-repeat center;
}

.ico-2::after {
    right: 25px;
    background: url('../img/icon-2.svg') no-repeat center;
}

.ico-3::after {
    right: 30px;
    background: url('../img/icon-3.svg') no-repeat center;
}

.ico-4::after {
    right: 35px;
    background: url('../img/icon-4.svg') no-repeat center;
}

.ico-5::after {
    right: 30px;
    background: url('../img/icon-5.svg') no-repeat center;
}

/*------------ POPULAR ------------*/

.header-popular {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    padding: 27px 25px;
    margin-bottom: 17px;
}

.header-popular h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-popular .red {
    width: 253px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.goods-list {
    background-color: #fff;
}

.buttons {
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
}

.goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 320px;
    border: 1px solid #eaeaea;
    padding: 16px 0 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0);
    transition: 0.5s;
    outline: none;
}

.goods-item img {
    opacity: 1;
    transition: 0.6s;
}

.goods-item:hover,
.goods-item:focus {
    box-shadow: 0px 5px 18px 6px rgba(0, 0, 0, 0.15);
}

.goods-item:hover .buttons,
.goods-item:focus .buttons {
    top: 0;
    opacity: 1;
}

.goods-item:hover img,
.goods-item:focus img {
    opacity: 0;
}

.buttons .red {
    background-color: #63a63e;
    width: 135px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    border-bottom: 2px solid #367315;
}

.buttons #bay {
    padding-left: 11px;
    padding-top: 3px;
}

#bay {
    margin-top: 20px;
    transition: 0.3s;
}

#bay:hover,
#bay:focus {
    background-color: #5fbb2d;
}

#bay:active {
    background-color: #518534;
    border: none;
}

#in-tabs {
    border: 2px solid #63a63e;
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

#in-tabs:hover,
#in-tabs:focus {
    border: 2px solid #32425c;
}

#in-tabs:active {
    border: 2px solid #c1c6ce;
    color: rgba(0, 0, 0, 0.28);
}

.wrapper-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.wrapper-img img {
    display: block;
    
}

.goods-item:nth-child(4n){
    margin-right: 0px;
}

.goods-item p {
    text-align: center;
    font-weight: bold;
    line-height: 17px;
    font-family: 'PT Sans';
    margin: 0;
}

.goods-item p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px; 
    font-family: 'PT Sans';
    width: 80%
}

.goods-item p:nth-child(3) {
    color: #a9a9a9;
    text-decoration: line-through;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    font-family: 'PT Sans';
    width: 60%
}

.goods-item p:nth-child(4) {
    position: relative;
    color: #fff;
    font-size: 17px;
    width: 66%;
    background-color: #ee3643;
    padding: 10px 15px 10px 10px;
    margin-left: 10px;
}

.goods-item p:nth-child(4)::before {
    content: '';
    right: -15px;
    top: -15px;
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.goods-item p:nth-child(4)::after {
    content: '';
    right: -15px;
    top: 22px;
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}

.popular-manufacturers {
    margin-bottom: 65px;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.manufacturers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 18px 6px rgba(0, 0, 0, 0);
    transition: 0.5s;
    outline: none;
}

.manufacturers-item:hover,
.manufacturers-item:focus {
    box-shadow: 0px 5px 18px 6px rgba(0, 0, 0, 0.1);
}

.manufacturers-item:active {
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.manufacturers-item:nth-child(4n){
    margin-right: 0px;
}

/*------------- SERVICES ----------------*/

.services {
    background-color: #f4f8f9;
    padding-bottom: 90px;
        overflow: hidden;
}

.services-header {
    padding: 60px 0 70px;
}

.services-header p {
    max-width: 400px;
}

.services h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 27px;
}

.services p {
    margin: 0;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.body-services {
    display: flex;
}

.body-services ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.button-list {
    position: relative;
    width: 240px;
    height: 180px;
    margin-right: 80px;
}

.button-list::after {
    position: absolute;
    content: '';
    right: 0;
    top: -40px;
    width: 10px;
    height: 272px;
    background: url('../img/lineGradient.png') no-repeat center;
}

.button-item button {
    border: none;
    width: 240px;
    text-align: left;
    font-size: 21px;
    font-weight: bold;
    padding: 18px 24px;
    color: #fff;
    background-color: #32425c;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    transition: 0.3s;
    outline: none;
}

.button-item button:hover {
    background-color: #293449;
    color: #fff;
}

.current-service button {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid rgba(41, 52, 73, 0);
    border-top: 1px solid rgba(64, 80, 105, 0);
}

.services-list {
    flex-grow: 2;
}

.services-item {
    position: relative;
    display: none;
}

.current-item {
    display: block;
}

.services-item h2 {
    font-size: 36px;
    font-weight: 100;
    margin-top: -5px;
    margin-bottom: 21px;
}

.services-item p {
    max-width: 330px;
}

.wrapper-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 469px;
    height: 315px;
}

.delivery {
    background: url('../img/ser_1.png') no-repeat center;
    background-size: 100%;
}

.guarantee {
    background: url('../img/ser_2.png') no-repeat center;
}

.credit {
    background: url('../img/ser_3.png') no-repeat center;
}

/*-------------- PROMO ------------------*/

.promo {
    display: flex;
}



















.borders {
    outline: 2px solid green;
/*    background-color: red;*/
}

.clearfix::after {
    content: ".";
    display: block;
    height: 600p;
    clear: both;
    visibility: hidden;
}